.page-blog,
.node-type-blog-article
{
  #content
  {
    padding: 0;
    max-width: none;
    margin-top: 0;

    &
    {
      @media (max-width: 1100px) and (min-width: 769px)
      {
        margin-top: 160px;
      }
    }
  }
  #page-title
  {
    color: white;
    text-align: center;
    margin: 0 0 60px 0;
    padding: 150px 25px;
    background: url(../images/bg-blog-header.jpg) no-repeat center center;
    background-size: cover;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}

.view-blog
{
  max-width: 990px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;

  .views-row
  {
    display: inline-block;
    width: 300px;
    height: 220px;
    margin: 0 15px 30px 15px;
    position: relative;
    font-size: 16px;

    &:hover .content > div
    {
      display: none;
    }
    &
    {
      @media (max-width: 640px)
      {
        float: none;
        display: inline-block;
      }
    }
  }
  .content
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);

    &:before
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.4;
    }

    & > div
    {
      position: absolute;
      left: 15px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  .views-field-title
  {
    color: white;
    font-weight: bold;
    text-shadow: inherit;
    text-transform: none;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .views-field-path a
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    text-decoration: none;

    span
    {
      display: none;
      position: absolute;
      left: 25px;
      right: 25px;
      top: 50%;
      margin-top: -26px;
      height: 50px;
      line-height: 50px;
      border: 1px solid white;
      border-radius: 26px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
    }
    &:hover
    {
      background-color: rgba(255,0,0,0.6);

      span
      {
        display: block;
      }
    }
  }
  .pager-load-more a
  {
    font-size: 16px;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #ca190d;
    text-transform: uppercase;
    width: 220px;
    border-radius: 25px;
    text-decoration: none;
    margin: 0 auto 10px auto;
  }
}

.node-blog-article
{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;

  h2
  {
    text-shadow: none;
    font-size: 22px;
    padding: 0;
    margin: 15px 0 5px 0;
  }
  .submitted
  {
    color: #ca190d;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;

    p
    {
      font-size: 15px;
      padding: 0;
    }
  }
  .actions
  {
    text-align: center;
    padding-top: 30px;
  }
  .back-button
  {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #ca190d;
    text-transform: uppercase;
    width: 220px;
    border-radius: 25px;
    text-decoration: none;
    margin: 0 auto 10px auto;

    @media (max-width: 540px) {
      clear: both;
    }
  }
}

.prevnext a
{
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: #ca190d;
  text-transform: uppercase;
  width: 220px;
  border-radius: 25px;
  text-decoration: none;
  margin: 0 auto 10px auto;
}
@media (min-width: 540px) {
  .prevnext__previous
  {
    float: left;
  }
  .prevnext__next
  {
    float: right;
  }
}

